<section id="about">

<div class="container">
  <app-subtitle title="Welcome to Praizr"></app-subtitle>



  <div class="row">
    <div class="col-sm-6 wow fadeInLeft">
      <img class="img-responsive" src="../../assets/images/pics/connecting.jpeg" alt="">
    </div>

    <div class="col-sm-6 wow fadeInRight">
      <h3 class="column-title">Finding our hidden networks</h3>
      <p>Its so hard to find just the right person.  The person who we could help
        , the person who may be able to help us.  That person who is or has been where you are right now.
        Praizr helps to make those connections, celebrate those who are helpful and promote
        a culture of sharing and improvement.</p>

      <p>Praizr is intended to help disclose those useful contacts and celebrate our community's good citizens</p>



      <a class="btn btn-primary" href="#">Learn More</a>

    </div>
  </div>
</div>
</section>
